table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


.heading{
    margin: 20px 0; 
}

.title-div h1{
    
}

.title-div p{
    margin-top: 10px;

}